In [42]:
print("Lord_Balaji")

Lord_Balaji

## Problem Statment:- <br><font color = red>predict the customers loan status </font>

### Import all Libraries

In [43]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### Load Data

In [44]:
df = pd.read_csv("E:\Python_Vedeo\DataSets\Credit Risk\CreditRisk.csv")

In [46]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
2,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
3,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
4,LP001011,Male,Yes,2.0,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y

In [47]:
df.shape

(1082, 13)

In [48]:
df.isnull().sum()/df.shape[0]*100

Loan_ID              0.000000
Gender               2.125693
Married              0.277264
Dependents           2.125693
Education            0.000000
Self_Employed        6.746765
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           3.419593
Loan_Amount_Term     2.865065
Credit_History       8.040665
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [49]:
df2 = df.fillna(df.mean())

In [50]:
df2.shape

(1082, 13)

In [51]:
df2 = df2.dropna()

In [52]:
df2.isnull().sum().sum()

0

In [54]:
df2.shape

(983, 13)

### One hot encoding

In [55]:
df2.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [56]:
loan_data_dummies = [pd.get_dummies(df2['Gender'], prefix = 'Gender',prefix_sep = "_", drop_first = True),
                     pd.get_dummies(df2['Married'], prefix = 'Married',prefix_sep = "_", drop_first = True),
                     pd.get_dummies(df2['Dependents'], prefix = 'Dependents',prefix_sep = "_", drop_first = True),
                     pd.get_dummies(df2['Education'], prefix = 'Education',prefix_sep = "_", drop_first = True),
                     pd.get_dummies(df2['Self_Employed'], prefix = 'Self_Employed',prefix_sep = "_", drop_first = True),
                     pd.get_dummies(df2['Property_Area'], prefix = 'Property_Area',prefix_sep = "_", drop_first = True),
                     pd.get_dummies(df2['Loan_Status'], prefix = 'Loan_Status',prefix_sep = "_", drop_first = True)
                    ]

In [57]:
loan_data_dummies= pd.concat(loan_data_dummies,axis = 1)

In [58]:
loan_data_dummies

,Gender_Male,Married_Yes,Dependents_0.8800755429650614,Dependents_1.0,Dependents_2.0,Dependents_3.0,Dependents_4.0,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_Y
0,1,0,0,0,0,0,0,0,0,0,1,1
1,1,1,0,0,0,0,0,0,1,0,1,1
2,1,1,0,0,0,0,0,1,0,0,1,1
3,1,0,0,0,0,0,0,0,0,0,1,1
4,1,1,0,0,1,0,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1077,1,1,0,1,0,0,0,0,0,0,1,1
1078,1,1,0,0,0,0,1,1,1,0,1,1
1079,1,1,0,0,0,0,0,0,0,0,1,1
1080,1,1,0,0,1,0,0,1,1,1,0,1
1081,1,0,0,0,0,0,0,0,0,1,0,1

In [61]:
df3 = pd.concat([df2,loan_data_dummies],axis = 1)

In [65]:
df3.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,...,Dependents_0.8800755429650614,Dependents_1.0,Dependents_2.0,Dependents_3.0,Dependents_4.0,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_Y
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,140.178947,360.0,...,0,0,0,0,0,0,0,0,1,1
1,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.000000,360.0,...,0,0,0,0,0,0,1,0,1,1
2,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.000000,360.0,...,0,0,0,0,0,1,0,0,1,1
3,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.000000,360.0,...,0,0,0,0,0,0,0,0,1,1
4,LP001011,Male,Yes,2.0,Graduate,Yes,5417,4196.0,267.000000,360.0,...,0,0,1,0,0,0,1,0,1,1

In [66]:
df3.shape

(983, 25)

In [69]:
df4 = df3.iloc[:,[6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]]

In [70]:
df4.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Gender_Male,Married_Yes,Dependents_0.8800755429650614,Dependents_1.0,Dependents_2.0,Dependents_3.0,Dependents_4.0,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_Y
0,5849,0.0,140.178947,360.0,1.0,Urban,Y,1,0,0,0,0,0,0,0,0,0,1,1
1,3000,0.0,66.000000,360.0,1.0,Urban,Y,1,1,0,0,0,0,0,0,1,0,1,1
2,2583,2358.0,120.000000,360.0,1.0,Urban,Y,1,1,0,0,0,0,0,1,0,0,1,1
3,6000,0.0,141.000000,360.0,1.0,Urban,Y,1,0,0,0,0,0,0,0,0,0,1,1
4,5417,4196.0,267.000000,360.0,1.0,Urban,Y,1,1,0,0,1,0,0,0,1,0,1,1

In [72]:
df4 = df4.drop(columns = 'Property_Area')

In [73]:
df4 = df4.drop(columns = 'Loan_Status')

In [74]:
df4.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Male,Married_Yes,Dependents_0.8800755429650614,Dependents_1.0,Dependents_2.0,Dependents_3.0,Dependents_4.0,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_Y
0,5849,0.0,140.178947,360.0,1.0,1,0,0,0,0,0,0,0,0,0,1,1
1,3000,0.0,66.000000,360.0,1.0,1,1,0,0,0,0,0,0,1,0,1,1
2,2583,2358.0,120.000000,360.0,1.0,1,1,0,0,0,0,0,1,0,0,1,1
3,6000,0.0,141.000000,360.0,1.0,1,0,0,0,0,0,0,0,0,0,1,1
4,5417,4196.0,267.000000,360.0,1.0,1,1,0,0,1,0,0,0,1,0,1,1

In [76]:
df4.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Male,Married_Yes,Dependents_0.8800755429650614,Dependents_1.0,Dependents_2.0,Dependents_3.0,Dependents_4.0,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_Y
count,983.000000,983.000000,983.000000,983.000000,983.00000,983.000000,983.000000,983.000000,983.000000,983.000000,983.000000,983.000000,983.000000,983.000000,983.000000,983.000000,983.000000
mean,4846.422177,1612.450580,139.547572,339.892289,0.89433,0.841302,0.662258,0.019329,0.154629,0.203459,0.001017,0.072228,0.224822,0.131231,0.310275,0.450661,0.840285
std,4817.699922,2460.757925,73.819445,65.448576,0.29420,0.365580,0.473181,0.137747,0.361734,0.402776,0.031895,0.258997,0.417678,0.337825,0.462841,0.497813,0.366528
min,0.000000,0.000000,9.000000,6.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2895.500000,0.000000,99.500000,360.000000,1.00000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,3765.000000,1086.000000,126.000000,360.000000,1.00000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,5442.500000,2358.000000,160.000000,360.000000,1.00000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
max,81000.000000,33837.000000,650.000000,480.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### Split Data

In [78]:
df4.columns

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Gender_Male', 'Married_Yes',
       'Dependents_0.8800755429650614', 'Dependents_1.0', 'Dependents_2.0',
       'Dependents_3.0', 'Dependents_4.0', 'Education_Not Graduate',
       'Self_Employed_Yes', 'Property_Area_Semiurban', 'Property_Area_Urban',
       'Loan_Status_Y'],
      dtype='object')

In [81]:
x = df4.drop('Loan_Status_Y', axis =1)

In [83]:
x.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Male,Married_Yes,Dependents_0.8800755429650614,Dependents_1.0,Dependents_2.0,Dependents_3.0,Dependents_4.0,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban
0,5849,0.0,140.178947,360.0,1.0,1,0,0,0,0,0,0,0,0,0,1
1,3000,0.0,66.000000,360.0,1.0,1,1,0,0,0,0,0,0,1,0,1
2,2583,2358.0,120.000000,360.0,1.0,1,1,0,0,0,0,0,1,0,0,1
3,6000,0.0,141.000000,360.0,1.0,1,0,0,0,0,0,0,0,0,0,1
4,5417,4196.0,267.000000,360.0,1.0,1,1,0,0,1,0,0,0,1,0,1

In [84]:
y = df4['Loan_Status_Y']

In [85]:
y

0       1
1       1
2       1
3       1
4       1
       ..
1077    1
1078    1
1079    1
1080    1
1081    1
Name: Loan_Status_Y, Length: 983, dtype: uint8

In [86]:
x.shape, y.shape

((983, 16), (983,))

### Train the Model

In [87]:
from sklearn.model_selection import train_test_split

In [88]:
X_train, X_test, y_train, y_test=train_test_split(x,y, test_size = 0.3, random_state = 42)

In [90]:
print("shape of X_train:-", X_train.shape)
print("shape of X_test:-", X_test.shape)
print("shape of y_train:-", y_train.shape)
print("shape of y_test:-", y_test.shape)

shape of X_train:- (688, 16)
shape of X_test:- (295, 16)
shape of y_train:- (688,)
shape of y_test:- (295,)

### Build Logestic Regression Model

In [91]:
from sklearn.linear_model import LogisticRegression

In [92]:
log_model = LogisticRegression()

### Fit the model

In [93]:
log_model.fit(X_train, y_train)

C:\Users\lenovo\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

### Predict Model on test data

In [94]:
prediction = log_model.predict(X_test)

In [95]:
prediction

array([1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1], dtype=uint8)

### Calculate accurasy score

In [96]:
from sklearn.metrics import accuracy_score

In [98]:
accuracy_score(y_test, prediction)*100

94.23728813559322

In [99]:
from sklearn.metrics import confusion_matrix

In [100]:
metrics = confusion_matrix(y_test, prediction)

In [101]:
metrics

array([[ 25,  14],
       [  3, 253]], dtype=int64)

In [102]:
dig = sum(metrics.diagonal())

In [103]:
dig

278

In [104]:
total = metrics.sum()

In [105]:
total

295

In [106]:
accurasy_Score = dig/total*100

In [107]:
accurasy_Score

94.23728813559322